<div class="container">
    <span class="big-circle"></span>
    <div class="form">
        <div class="contact-info">
            <h3 class="title">Let's get in touch</h3>
            <p class="text">
                MEDBLOC is a product authentication and consumer engagement Dapp that will protect over number of packages through its technology-enabled solutions. Feel free to connect with us !!
            </p>

            <div class="info">
                <div class="information">
                    <img src="/assets/contactusimg/location.png" class="icon" alt="" />
                    <p>123 xyz lane, pqrs-12</p>
                </div>
                <div class="information">
                    <img src="/assets/contactusimg/email.png" class="icon" alt="" />
                    <p>medbloc.project2022@gmail.com</p>
                </div>
                <div class="information">
                    <img src="/assets/contactusimg/phone.png" class="icon" alt="" />
                    <p>xxx-xxx-xxxx</p>
                </div>
            </div>

            <div class="social-media">
                <p>Connect with us !!</p>
                <div class="social-icons">
                    <a href="#">
                        <i class="fab bi-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fab bi-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab bi-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab bi-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>

            <form id="contactForm" action="">
                <h3 class="title">Contact us</h3>
                <div class="input-container">
                    <input id="name" type="text" name="name" class="input" required />
                    <label for="">Name</label>
                    <span>Name</span>
                </div>
                <div class="input-container">
                    <input id="email" type="email" name="email" class="input" required />
                    <label for="">Email Id</label>
                    <span>Email Id</span>
                </div>
                <div class="input-container">
                    <input id="contactno" type="tel" name="phone" class="input" required />
                    <label for="">Contact No</label>
                    <span>Contact No</span>
                </div>
                <div class="input-container textarea">
                    <textarea id="message" name="message" class="input" required></textarea>
                    <label for="">Message</label>
                    <span>Leave a message</span>
                </div>
                <input type="submit" class="Submit" />
            </form>
        </div>
    </div>
</div>
