<div class="slider owl-carousel" [ngClass]="custom">
    <div class="card">
        <div class="img">
            <img src="../assets/signinregister/consumer.jpg" alt=""></div>
        <div class="content">
            <div class="title">
                Consumer</div>
            <div class="sub-title">
                _______________</div>
            <p>Consumers can signin or register to our website by clicking Consumer button and can check whether the medicine in their hands is placebo just by simple Qr code scanning..
            </p>
            <div class="btn">
                <a routerLink="./consumer">
                    <button>Consumer</button>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="../assets/signinregister/manufacturer.jpg" alt=""></div>
        <div class="content">
            <div class="title">
                Manufacturer</div>
            <div class="sub-title">
                _________________</div>
            <p>
                Manufacturers can signin or register to our website by clicking Manufacturer button and can download their medicine's Qr code image. Just by following simple steps..</p>
            <div class="btn">
                <a routerLink="./manufacturer">
                    <button>Manufacturer</button>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="../assets/signinregister/supplier.jpg" alt=""></div>
        <div class="content">
            <div class="title">
                Supplier</div>
            <div class="sub-title">
                _______________</div>
            <p>
                Supplier can signin or register to our website by clicking Supplier button and can check the medicines they received is placebo just by simple scanning the Qr code printed on medicine..</p>
            <div class="btn">
                <a routerLink="./supplier">
                    <button>Supplier</button>
                </a>
            </div>
        </div>
    </div>
</div>


