<div class="wrapper">
    <div class="title">
        Medicine Details
    </div>
    <form #medicineform="ngForm">
        <div class="inputs">
            <div class="inputfield form-group">
                <label>Company Name:</label>
                <input id="cname" type="text" class="input form-control"  [(ngModel)] = "med.cname" name="cname" #cname="ngModel" required minlength ="5" >        
            </div>
            <div *ngIf="cname.errors && (cname.dirty || cname.touched)">
                <div [hidden]="!cname.errors" class="alert alert-danger form-alert">
                    Please enter a valid name(min 5 characters).
                </div>
            </div>
            <div class="inputfield form-group">
                <label>Medicine Name:</label>
                <input id="medname" type="text" class="input form-control" [(ngModel)] ="med.medname" name="medname" #medname="ngModel" required minlength ="3" >
            </div>
            <div *ngIf="medname.errors && (medname.dirty || medname.touched)">
                <div [hidden]="!medname.errors" class="alert alert-danger form-alert">
                    Please enter a valid medicine name(min 3 characters).
                </div>
            </div>
            <div class="inputfield form-group">
                <label>Quantity:</label>
                <input id="dosage" type="number" class="input form-control" [(ngModel)] ="med.quantity" name="quantity" #quantity="ngModel" required min="1" >
            </div>
            <div *ngIf="quantity.errors && (quantity.dirty || quantity.touched)">
                <div [hidden]="!quantity.errors" class="alert alert-danger form-alert">
                    Please enter a valid quantity(min 1).
                </div>
            </div>
            <div class="inputfield form-group">
                <label>Batch no:</label>
                <input id="bno" type="number" class="input form-control"  [(ngModel)] ="med.batchno" name="batchno" #batchno="ngModel" required min="1" >
            </div>
            <div *ngIf="batchno.errors && (batchno.dirty || batchno.touched)">
                <div [hidden]="!batchno.errors" class="alert alert-danger form-alert">
                    Please enter a valid batchno.
                </div>
            </div>
            <div class="inputfield form-group">
                <label>Mfg date:</label>
                <input id="mfdate" type="date" class="input form-control" [(ngModel)] ="med.mfgdate" name="mfgdate" #mfgdate="ngModel" required>
            </div>
            <div *ngIf="mfgdate.errors && (mfgdate.dirty || mfgdate.touched)">
                <div [hidden]="!mfgdate.errors" class="alert alert-danger form-alert">
                    Please enter a valid date.
                </div>
            </div>
            <div class="inputfield form-group">
                <label>Exp date:</label>
                <input id="exdate" type="date" class="input form-control" [(ngModel)] ="med.expdate" name="expdate" #expdate="ngModel" [min]="mfgdate.value" required>
            </div>
            <div *ngIf="expdate.errors && (expdate.dirty || expdate.touched)">
                <div [hidden]="!expdate.errors" class="alert alert-danger form-alert">
                    Please enter a valid date.
                </div>
            </div>
            <div class="inputfield terms">
                <p> <input type="checkbox" required ngModel name="check">I agreed to terms and conditions the above details are correct</p>
            </div>
            <div class="inputfield">
                <input type="submit" value="submit" class="btn" [disabled]="medicineform.invalid && !check " (click)="addMedicine()" routerLink="../dashboard">
                &nbsp;
                <input type="reset" value="clear" class="btn">
            </div>
        </div>
    </form>
</div>