<section id="banner">
    <div class="banner-text">
        <h1>MEDBLOC</h1>
        <p>Save yourself from being Counterfeited!!</p>
    </div>
</section>



<section class="slidershow middle">
    <h1>WHY MEDBLOC ??</h1>

    <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <input type="radio" name="r" id="r5">
        <div class="slide s1">
            <img src="/assets/index/fakemed1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/assets/index/fakemed2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/assets/index/fakemed3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/assets/index/fakemed4.png" alt="">
        </div>
        <div class="slide">
            <img src="/assets/index/fakemed5.jpg" alt="">
        </div>
    </div>
    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
        <label for="r5" class="bar"></label>
    </div>
</section>
